body {
  text-align: center;
  background-color: rgb(0, 0, 0);
}

main {
  width: 900px;
  background: rgb(255, 255, 255);
  border: 25px solid rgb(24, 92, 182);
  padding: 64px;
  margin: 375px;
  margin-bottom: 75px;
  margin-right: 75px;
  text-align: center;
  margin-top: -10px;
}

img {
  max-width: 75%;
  max-height: 75%;
}

#mytitle {
  color: rgb(113, 252, 182);
  font: weight 100px;
  font-family: "Trebuchet MS";
  font-size: 100px;
}

.subtitle {
  font-weight: bold;
  color: rgb(74, 58, 223);
  font-size: 50px;
}

.blurb {
  font-weight: 500;
  color: rgb(3, 110, 75);
  font-family: "Lucida Sans";
}
