html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: rgb(49, 42, 42);
}

.flex-container {
  width: 180rem;
  height: 180rem;
  background-color: rgb(255, 255, 255);
  border: 2rem solid rgb(57, 71, 35);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 3rem auto;
  text-align: center;
}

#Page-title {
  color: rgb(83, 255, 169);
  font: weight 10rem;
  font-family: "Trebuchet MS";
  font-size: 7rem;
  text-align: center;
}

.meme-header {
  font-family: "Franklin Gothic Medium";
  font-weight: bold;
  font-size: 4rem;
  color: rgba(24, 77, 24, 0.527);
}
.meme-image {
  max-height: 30rem;
}

.meme {
  background-color: rgb(228, 228, 228);
  display: flex;
  padding: 25px;
  height: 50rem;
  font-size: 3rem;
  font-family: Verdana;
  flex-direction: column;
  width: 28%;
  align-items: center;
  justify-content: space-around;
  border-radius: 100px;
  box-shadow: 0 1.5rem 4rem rgb(0, 0, 0);
  margin-top: 3rem;
}
